{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/style-form.css') }}">
{% endblock %}

{% block body %}
    <div id="main-layout">
        <header id="header1">
            <h1>Register</h1>
        </header>

        <main>
            {{ form_errors(registrationForm) }}

            {{ form_start(registrationForm, { 'attr' : {'id' : 'form'}}) }}
            {{ form_row(registrationForm.name) }}
            {{ form_row(registrationForm.email) }}
            {{ form_row(registrationForm.plainPassword, {
                label: 'Password'
            }) }}
            <div id="checkbox-container">
                {{ form_widget(registrationForm.agreeTerms, {'attr': {'class': 'checkbox'}}) }}
                {{ form_label(registrationForm.agreeTerms, 'Acepto los términos y condiciones', {'attr': {'class': 'label'}}) }}
            </div>

            <button type="submit" class="btn">Register</button>
            {{ form_end(registrationForm) }}
        </main>
    </div>

{% endblock %}
